.logo {
  width: 8rem;
}

body {
  background: #ecb573;
  color: #fff;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.image-notfound img {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}

.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.presentation {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.header {
  background-color: #ffe6a3;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  color: #d11d1d;
  text-decoration: none;
  font-size: 1rem;
}

.image-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
}

.link-button a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #3c3115;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
}

.link a {
  color: #d11d1d;
  text-decoration: none;
}

.products {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20rem;
  height: 20rem;
  text-align: center;
  list-style-type: none;
  background: #879163;
}

.products-name {
  font-size: 1.5rem;
}

.transparent-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 60%;
  width: 10rem;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
}

.transparent-button:hover .hover-text {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  padding: 1rem;
}

.manufacturer {
  border: 1px solid black;
  border-radius: 1rem;
  width: 16rem;
  height: 9rem;
  text-align: center;
  list-style-type: none;
  background-color: #879163;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container3 {
  border: 1px solid black;
  text-align: center;
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: #879163;
  margin: 0.5rem;
  padding: 1rem;
}

.single-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.productList {
  display: flex;
}

.filtered {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 1rem;
}

.filteredContainer {
  margin-left: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  height: 28rem;
  background-color: #ffe6a3;
}

.manufacturerContainer {
  margin-left: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
  background-color: #ffe6a3;
}

.addProduct {
  margin-left: 0.5rem;
  border-radius: 1rem;
  height: 26rem;
  width: 20rem;
  background-color: #ffe6a3;
}

.filteredCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.game-paragraphe {
  font-size: 1.5rem;
}

.filteredManufacturer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-game {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.button-game {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #3c3115;
  color: #fff;
}

.image-badge {
  width: 5rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  margin-top: 4rem;
}

.inputProduct {
  margin-bottom: 1.5rem;
}

.inputProducts {
  width: 6rem;
}

.filteredSelect {
  width: 8.5rem;
  padding: 0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
}

.form-h2 {
  margin-bottom: 2.5rem;
}

.santalist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 2rem;
  color: #d11d1d;
}

.santalist-container {
  border: 1px solid black;
  width: 42rem;
  padding: 2rem;
  font-size: 22px;
  margin-top: 2rem;
  background-color: #879163;
  border-radius: 1rem;
}

.basket {
  display: flex;
  align-items: center;
}

.basket-quantity {
  margin: 0.5rem;
}

.basket-name {
  font-weight: bold;
}

.button-basket {
  padding: 0.3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background: #3c3115;
  color: #fff;
}

.button-basket2 {
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background: #3c3115;
  color: #fff;
}

.favorite-container {
  border: 1px solid black;
  width: 20rem;
  height: 9rem;
  margin-top: 5rem;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #879163;
  border-radius: 1rem;
  text-align: center;
}

.favorite {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-container {
  border: 1px solid black;
  width: 30rem;
  margin-top: 5rem;
  padding: 2rem;
  font-size: 20px;
  margin: 10rem;
  background-color: #879163;
  border-radius: 1rem;
  text-align: center;
}

.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-contact {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #3c3115;
  color: #fff;
}

.text-contact {
  padding: 3rem;
  border-radius: 1rem;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  border: 1px solid black;
  width: 30rem;
  padding: 2rem;
  font-size: 20px;
  background-color: #879163;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.name-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input-registration {
  padding: 0.5rem;
  border-radius: 1rem;
}

.button-registration {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #3c3115;
  color: #fff;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 2rem;
  border: 1px solid black;
  width: 25rem;
  padding: 2rem;
  font-size: 20px;
  background-color: #879163;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.name-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input-login {
  padding: 0.5rem;
  border-radius: 1rem;
}

.button-login {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  background: #3c3115;
  color: #fff;
}

.santalist-basket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.santalist-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-image {
  position: absolute;
  width: 20rem;
  top: 15rem;
  left: 28rem;
  position: absolute;
}

.santalistPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.santalist-item {
  display: flex;
  justify-content: space-between;
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
